PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=F4zRxOjyAEpKEZ_NzhY4wopOxsbz986X
DRIVE_DISK=local
SESSION_DRIVER=cookie

DB_CONNECTION=pg

PG_HOST=localhost
PG_PORT=5432
PG_USER=lucid
PG_PASSWORD=
PG_DB_NAME=lucid

COIN_MARKET_BASE_URL=https://api.cryptorank.io
COIN_MARKET_API_KEY=
COIN_MARKET_API_KEY_PARAM=api_key
COIN_MARKET_SSL_VERIFY=false
